{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "indent": ["error", 4],
    "object-curly-spacing": ["error", "never"],
    "comma-dangle": ["error", "never"]
  }
}